*.csv filter=lfs diff=lfs merge=lfs -text
simulationResult/*.csv filter=lfs diff=lfs merge=lfs -text
simulationResult/ filter=lfs diff=lfs merge=lfs -text
.*csv filter=lfs diff=lfs merge=lfs -text
.*stl filter=lfs diff=lfs merge=lfs -text
*.stl filter=lfs diff=lfs merge=lfs -text
